:root {
    --primary-color: #003684;
    --secondary-color: #f6d317;
    --white: #e9ebed;
    --black: #292929;
    /*  fuente https://www.behance.net/gallery/10761523/Corduroy-Slab-Free */
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--primary-color);
}


h1, h2, h3, h4 {
    color: var(--primary-color);
}
label {
    color: var(--black);
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--white);
}

/* ----------- base ------------------ */

.navbar-color {
    background-color: var(--primary-color);
}

.navbar-header-font {
    color: var(--secondary-color);
}

.navbar-element-font li a{
    color: var(--white);
}

.navbar-element-font li:hover {
    border-style: solid;
    border-color: var(--black);
    border-width: 0.1px;
}

.navbar-element-font li a:hover {
    color: var(--secondary-color);
}



/* ------------ Fin base ------------- */

/* ------------ Login ---------------- */

.form-labels div label{
    color: var(--black);
}

.btn-principal {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.button-cont button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* --------- Fin Login --------------- */

/* --------- Signup ------------------ */

.error-msg {
    color: var(--black);
    margin-top: 10px;
    text-decoration: none;
}

.error-msg ul {
    margin-top: 10px;
    list-style-type: none;
}

.button-cont {
    text-align: center;
}

/* --------- Fin Signup -------------- */

/* --------- Home -------------------- */

.button-row {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.button-row a button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-style: solid;
    border-radius: 5px;
    width: 300px;
    height: 90px;
}

.button-row a button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* --------- Fin Home ---------------- */

/* --------- Geolocalización --------- */

#map {
    height: calc(100vh - 124px);
}

/* --------- Fin Geolocalización ----- */


/* --------- Denuncia ---------------- */

.denuncia-form {
    width: 60%;
}

.denuncia-form input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.denuncia-form #id_fecha_delito {
    
}

.denuncia-form button {

}

.denuncia-form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


/* --------- Fin Denuncia ------------ */

/* --------- Footer ------------------ */

footer {
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* --------- Fin Footer -------------- */