{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<!-- inicia formulario registro -->
<form class="py-4 px-4 form-registro" action="" method="POST">
  {% csrf_token %}
    <div class="row justify-content-center pt-4 mt-5 mr-1">
        <div class="col-md-4 registro-for form-labels">
            <div class="form-group text-center">
                <h4 class="h2" id="tittle3">Registrate</h1>
            </div>

            <div class="form-group mx-sm-7 pt-2">
              <label for="usuario" class="form-label">Usuario</label>
                <span>{{ form.username }}</span>
                <span class="error-msg">{{ form.errors.username }}</span>
            </div>

            <div class="form-group mx-sm-7 pt-2">
              <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                <span>{{ form.email }}</span>
                <span class="error-msg">{{ form.errors.email }}</span>
            </div>
            
            <div class="form-group mx-sm-7 pt-2">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <span>{{ form.password1 }}</span>
                <span class="error-msg">{{ from.errors.password }}</span>
                
            </div>
            
            <div class="form-group mx-sm-7 pt-2">
              <label for="exampleInputPassword2" class="form-label"> Confirmar Contraseña</label>
              <span>{{ form.password2 }}</span>
              <span class="error-msg">{{ from.errors.password }}</span>
            </div>
            <!-- <div class="mx-sm-7 pt-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Acepto términos y condiciones.</label>
              </div> -->

            <div class="form-group mx-sm-5 " style="text-align: center;">
              <button type="submit" class="btn-3 btn-block registrar btn-principal my-4">Registrarse</button>                       
              </div>

            <a class= "a3 py-3 align-items-center" href="{% url 'inicio' %}">¿Ya tienes una cuenta? Inicia Sesion</a>
        </div>
    </div>
</form>

<!-- fin registrar -->
<br>
<br>
{% endblock %}